<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.mines.locationfinder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_footprints"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.mines.locationfinder.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.mines.locationfinder.RecordTrail"
            android:parentActivityName="edu.mines.locationfinder.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.locationfinder.MainActivity" />
        </activity>

        <activity
            android:name="edu.mines.locationfinder.DetailActivity"
            android:parentActivityName="edu.mines.locationfinder.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.locationfinder.MainActivity" />
        </activity>

        <provider
            android:name=".LocationContentProvider"
            android:authorities="edu.mines.locationfinder.contentprovider"
            android:exported="false" >
        </provider>
    </application>

</manifest>